[submodule "gz_ros2_control"]
	path = src/gz_ros2_control
	url = git@github.com:kulkarni-raunak/gz_ros2_control.git
[submodule "src/turtlebot3_simulations"]
	path = src/turtlebot3_simulations
	url = git@github.com:kulkarni-raunak/turtlebot3_simulations.git
	branch = brean/feature-gz-sim_garden
[submodule "src/navigation2"]
	path = src/navigation2
	url = git@github.com:kulkarni-raunak/navigation2.git
	branch = ahcorde/initial_support/gazebo
[submodule "src/navigation2_tutorials"]
	path = src/navigation2_tutorials
	url = git@github.com:kulkarni-raunak/navigation2_tutorials.git
[submodule "src/BehaviorTree.ROS2"]
	path = src/BehaviorTree.ROS2
	url = git@github.com:BehaviorTree/BehaviorTree.ROS2.git
[submodule "src/ros2_behavior_tree_example"]
	path = src/ros2_behavior_tree_example
	url = git@github.com:polymathrobotics/ros2_behavior_tree_example.git
